/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
html, body {
    box-sizing: border;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav{
    background-color: #540B51;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

 }

nav button {
    background-color: #540B51;
    border: 1px solid #540B51;
}

header {
    background-color: #540B51;
}

button[alt="Search icon"] {
    background-color: #540B51;
}
 
header div div button:first-child {
height: 2.5rem;
background-color: #F3EAE2;
width: 80%;
border: 1px solid #F3EAE2;
border-radius: 2%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color:#540B51;
font-weight: 700;
text-transform:uppercase;
}

header div div button:nth-child(2){
background-color: #2E71A6;
height: 2.5rem;
width: 80%;
border: 1px solid #2E71A6;
border-radius: 2%;
margin-top: 0.5rem;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
color: #F3EAE2;
font-weight: 700;
text-transform: uppercase;
}

header div div button:nth-child(2) > img{
    background-color: #F3EAE2;
    padding: 0.2rem;
    position: absolute;
    }

h1{
    color: #F3EAE2;
}

p {
    color: #F3EAE2;
}

header div:first-child > p > span {
    color: #ECB12F;
}

main p {
    color: #000000;
    font-weight: 700;
}

main:first-child {
    background-color: #F3EAE2;
}

h3 {
    color: #540B51;
    text-align: center;
}

main ul {
    display: block;
    visibility: visible;
}

main ul li {
    list-style: none;
}

main ul li span {
    color: #540B51;
}

main > section:nth-of-type(3) {
    background-color: #540B51;
}

main > section:nth-of-type(3) > h3 {
    color:#F3EAE2;
}

main > section:nth-of-type(3) > button:nth-last-of-type(1){
    background-color: #540B51; 
    color: #F3EAE2;
    border: 1px #F3EAE2 solid;
    margin-top: 0.7rem;
    height: 2rem;
}

main > section:nth-of-type(3) > button:nth-last-of-type(2){
    color: #540B51;
    background-color: #F3EAE2;
    border: 1px #540B51 solid;
    height: 2.5rem;
}

main > section:nth-last-of-type(3) > button {
    width: 50%;
    height: 2.5rem;
}

hr {
    margin-top: 2rem;
    width: 80%;
    color: #454245;
}

footer ul {
    display: block;
    visibility: visible;
}

footer ul li {
    list-style: none;
}


footer ul:nth-of-type(2){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 3rem;
}

footer ul:first-child li:last-child {
    color: #2E71A6;
}

small {
    color: #454245;
    margin-bottom: 1rem;
}




/*MEDIA QUERY TELEPHONE*/
  
@media (max-width : 768px) {
    /*Nav*/
    nav{
       background-color: #540B51;
       display: flex;
       flex-direction: row;
       justify-content: space-between;

    }

    img {
        height: 1.5rem;
        margin: 0.5rem 0.5rem;

    }

    ul {
        display: none;
    }

    /*HEADER*/

    header {
        background-color: #540B51;
        display: flex;
        flex-direction: column;
    }

    h1{
        margin: 0;
        text-align: center;
        padding: 2rem 0 0 0;
    }

    p {
        text-align: center;
    }

    header button {
        display: flex;
        flex-direction: column;
        display: block;
        margin: 0 auto;  
    }

    img[alt="Slack app screenshot"] {
        margin-top: 2rem;
        width: 180%;
        height: 100%;
    }

    /*MAIN*/

    main section:first-child{
        text-align: center;
        background-color:#F3EAE2 ;
        padding: 2.3rem;
    }

    main section:first-child p{
        margin: 0;
        padding: 0 0 1rem 0;
    }

    main section div {
        margin-top: 0.5rem;
    }

    h3 {
        font-size: 1.7rem;
        padding: 1rem 1rem 0rem 1rem;
        margin-bottom: 0;
    }
    
    main section ul li {
        display: hidden;
        padding: 2rem;
    }

    main ul li span {
        font-size: 2.5rem;
    }

    main ul li > p {
        color: black;
        font-size: 0.9rem;
        margin: 0;
    }

    main > section:nth-of-type(3) {
        display: flex;
        flex-direction: column; 
        padding: 1rem ;
        padding-bottom: 2rem;
    }

    main > section:nth-of-type(3) > h3 {
        margin-bottom: 1.3rem;
        margin-top: 0;
    }

    /*FOOTER*/
    footer ul li {
        display: flexbox;
        flex-direction: column;
    }

    footer ul li {
       font-size: 0.7em;
       font-weight: 700;
       margin-top: 1rem;
    }

}

/* MEDIA QUERIES POUR TABLETTE */

@media (min-width : 768px) and (max-width  : 1024px) {

     /*Nav*/
     nav{
        background-color: #540B51;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
 
     }
 
     img {
         height: 1.5rem;
         margin: 0.5rem 0.5rem;
 
     }
 
     ul {
         display: none;
     }

     header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 30rem;
        padding-left: 1rem;
     }

     h1{
        margin: 0;
        font-size: 3rem;
        padding: 2rem 0 0 0;
    }

    header p {
        text-align: left;
        margin-top: 1rem;
    }

    header div:first-child {
        width: 50%;
    }

    img[alt="Slack app screenshot"] {
        margin-top: 2rem;
        width: 100%;
        height: 50%;
    }

    main section:first-child{
        text-align: center;
        background-color:#F3EAE2 ;
        padding: 2.3rem;
    }

    main section:first-child p{
        text-align: center;
    }

    main section div {
        margin-top: 0.5rem;
    }

    main > section:nth-of-type(2) > p:first-child {
        text-align: center;
    }

    section:nth-of-type(2) ul > li{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
      }
      

    main > section:nth-of-type(3) {
        display: flex;
        flex-direction: column; 
        padding: 1rem ;
        padding-bottom: 2rem;
    }

    h3 {
        font-size: 1.7rem;
        padding: 1rem 1rem 0rem 1rem;
        margin-bottom: 0;
    }

    main section ul li {
        display: hidden;
        padding: 2rem;
    }

    main ul li span {
        font-size: 2.5rem;
    }

    main ul li > p {
        color: black;
        font-size: 0.9rem;
        margin: 0;
    }

    /*FOOTER*/
    footer > ul:first-of-type {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 2rem;
      }
      

    footer ul li {
       font-size: 0.7em;
       font-weight: 700;
       margin-top: 1rem;
    }


}